{{> head}}

<body>
	{{> navbar}}
	<div class="container">
		{{{ body }}}
	</div>


	{{> footer}}
	<script>
		window.replainSettings = { id: '2fef3bd2-272e-4290-b7cc-75288297088f' };
		(function (u) {
			var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = u;
			var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
		})('https://widget.replain.cc/dist/client.js');
	</script>
</body>

</html>