<div class="error__qqq">
	<h1 style="text-align: center; font-size: 40px">Страница не найдена</h1>

	<div class="sky">
		<h2><span>4</span><span>0</span><span>4</span></h2>
		<div class="grass"></div>
		<img src="/img/plane.png" class="plane">
	</div>
	<div class="field">
		<a href="/">Вернуться на главную</a>
	</div>
</div>